*{
    font-size: 20px;
}

.titulo-negrito {
    font-weight: bold;
}

.tabela-produtos-moda th {
    background-color: #BB86FC;
}

.tabela-produtos-moda td {
    background-color: #424250;
    color: white;
}

.tabela-produtos-casa th {
    background-color: #00C4B4
    ;
}

.tabela-produtos-casa td {
    background-color: #424250;
    color: white;
}
